/*
* References: 
* 1. Tutorial videos from Paul Brokenshire for IAT339
* 2. "A Guide to Flexbox": http://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

*, *::before, *::after {
	box-sizing: border-box;
}

/* Parent */

.container,
.top-nav ul,
header .menu {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
}

.container-column {
	display: -webkit-flex; 
	display: -ms-flex; 
	display: flex;

	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;

	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

div.order-summary div.container {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.top-nav ul,
header .menu {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 0;
}


/* Child */

.container-item {
	-webkit-flex: 1 1 0;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
}

.container-item-2 {
	-webkit-flex: 2 1 0;
	-ms-flex: 2 1 0;
	flex: 2 1 0;
}

.container-item-full {
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.container-item,
.container-item-full {
	padding: 1rem;
}

/*.top-nav {
	-webkit-flex: 9 1 auto;
	-ms-flex: 9 1 auto;
	flex: 9 1 auto;
}*/

/* Index page */

.index1, .index2,
.index3 .left,
.index4, .index5 {
	text-align: center;
}

.index2 .container-item{
	padding: 5rem;
}

.index2 .button-1 {
  width: 80%;
}

.index3 {
	padding: 5%;
	background-color: #ffe2bc;
}

.index5 .container-item {
	padding: 0 5%;
	padding-bottom: 5%;
}

.index1, .index2, .index3,
.index4, .index5,
.index1 .container-item, 
.index2 .container-item,
.index4 .container-item { 
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.index1 .container-item,
.index4 .container-item {
	padding: 0;
}

.index1 .text, 
.index4 .text {
	padding: 8% 2%;
}

.index2, 
.index4 {
	margin-bottom: 8%;
}

/* About page */

.about1 {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;

	text-align: center;
}

.about2 {
	height:50%;
}

.about2 .container-item {
	padding:5%;
} 
/* Contact page */

.three-fourths {
	-webkit-flex: 0 1 75%;
	-ms-flex: 0 1 75%;
	flex: 0 1 75%;
}

.three-fourths {
	padding: 1rem;
}

.location {
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.contact3 {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;

	text-align: center;
}


/* Shop all page */

.product1 .container-item,
.product2 .container-item {
	margin-bottom: 5%;
  	text-align: center;
}

.prices {
	padding: 0 12%;
}
.prices .container-item {
	padding: 0.5rem;
	margin: 0;
}
.prices .container-item span {
	color: #91640F;
	font-weight: bold;
}


/* Product detail page */

.product {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;

	margin-bottom: 8%;
}

.product-thumbnails {
	-webkit-flex: 0 1 10rem;
	-ms-flex: 0 1 10rem;
	flex: 0 1 10rem;
}

.product-thumbnails a {
   display: block;
   width: 100%;
   height: auto;
   margin-bottom: 1rem;
   margin-right: 1rem;
}

.product-left img {
	width: 85%;
}

.product-right {
  display: -webkit-flex; 
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;

  text-align: center;
  padding: 2%;
}

.review-intro {
	-webkit-align-items: center;
  	-ms-align-items: center;
  	align-items: center;

  	background-color: #ffe2bc;
    text-align: center;
    padding: 5%;
    margin-bottom: 8%;
}

.average-ratings {
    min-width: 50%;
}

div.select-size {
    padding-top: 8%;
    padding-bottom: 4%;
}
div.select-size p.subheader {
    margin-bottom: 1.25rem;
}

label.size-and-price {
    cursor: pointer;
    text-align: center;
    position: relative;

    padding: 0 2em;
    margin-bottom: 0.5em;
}

.size-and-price .container-item {
    padding: 0.5rem;
}

.size-and-price .checkbox {
	margin-bottom: 0;
	position: absolute;
	bottom: -2em;
	right: -5em;

	opacity: 0;
}

.size-and-price:hover,
.size-and-price:active,
.size-and-price:focus {
    /*border-bottom: 1px dotted black;*/
    background-color: #ffe2bc;
}

.size-and-price .checkbox:checked ~ .size-option {
	border-bottom: 1.5px solid #91640f;
	color: #91640f;
	font-weight: bold;
}

/* Customer reviews */

.review-overall-2 {
	display: -webkit-flex; 
  	display: -ms-flex;
  	display: flex;

  	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
}

.review-overall-2-left,
.review-overall-2-right,
.write-review {
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
}

.write-review textarea {
	width: 100%;
	padding: 0.5em;
	color: gray;
	border: 1px solid black;
	border-radius: 0.25em;
}

.write-review {
	padding-top: 0;
	padding-right: 5%;
}

.write-review h3 {
	padding-top: 0;
}

.products-single-image{
  overflow: visible;
  /*border:1px solid red;*/

}

.products-single-image img{
  transition: transform 0.5s;
}


.products-single-thumbnail a{
   display:inline-block;
   width:50px;
   height:50px;
   margin-right:1em;
   margin-bottom: 1em;
}

.review-bottom {
	-webkit-flex: 2 1;
	-ms-flex: 2 1;
	flex: 2 1;
}


/* Footer */

footer div.social-media {
	margin: 2% 0;
}

footer div.social-media img {
	cursor: pointer;
	min-width: 1.25em;
	max-width: 2.25em;
	display: inline-block;
	margin: 0 5%;
}

footer .resources {
	border-top: 1px solid black;
	margin-top: 8%;
}

footer div.resources p {
	padding: 1rem;
}

/* Header Navigation */

.nav {
	text-align: right;
	padding: 2% 0;
	position: relative;
}
.menu {
	margin: 0;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25rem;
	padding: 0.65rem 0.5rem;
	transition: all .2s;
	position: relative;
}
.menu a.brand {
	font-size: 3.375rem;
}
.menu a::before {
	content: '';
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 100%;
  	height: 1px;
  	transform: translateY(-50%);
  	background-color: #ffe2bc;
  	opacity: 0;
  	z-index: -1;
  	transition: all .2s;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
	color: #91640F;
}
.menu a:hover::before {
	opacity: 1;
	left: 20%;
	width: 2.5rem;
	height: 2.5rem;
}

.nav a.mobile-brand {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 3rem;
	line-height: 1.35;
	margin: 2% 0;
	display: none;
}
.nav label {
	cursor: pointer;
	padding: 0;
	margin: 0 5% 0 0;
	font-size: 2.25rem;
	line-height: 1.8;
	display: none;
}
#toggle {	/* This is the input */
	display: none;
	opacity: 0;
}


/* Popup Block on Product Detail Page */

.popup .overlay-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	display: none;
}
.popup .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%) scale(0);
	background-color: white;
	width: 60%;
	height: auto;
	z-index: 2;
	text-align: center;
	padding: 2rem;
	transition: all .2s ease-in-out;
}
.popup .close-btn {
	cursor: pointer;
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
	width: 3.5rem;
	height: 3.5rem;
	font-size: 2.25rem;
	line-height: 1.6;
	text-align: center;
	background-color: rgb( 145, 100, 15);
	border-radius: 50%;
	color: white;
}
.popup.active .overlay-bg {
	display: block;
}
.popup.active .content {
	transform: translate( -50%, -50%) scale(1);
}


/*************************** For Mobile Screen ***************************/

@media (max-width: 480px) {

	/* Header Navigation on Mobile */

	.nav label,
	.nav a.mobile-brand {
		display: inline-block;
	}

	.menu {
		text-align: center;
		display: none;
	}
	.menu a {
		display: block;
		padding: 5% 0;
		display: none;
	}

	#toggle:checked ~ .menu {
		padding: 8% 0;
		/*height: 100vh;*/
		display: block;
	}
	#toggle:checked ~ .menu a {
		display: block;
	}
	#toggle:checked ~ .menu a.brand {
		display: none;
	}

	/*************** End of Heasder Navigation ***************/

	.index1, .index2, .index4, .index5,
	.about1, .about2,
	.product, .review-intro, .review-detail,
	.contact1, .location, .contact3,
	.checkout, footer .container {
		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.index2 .container-item {
		padding: 10%;
	}

	/* Product Detail Page */

	.product-thumbnails {
		display: -webkit-flex; 
		display: -ms-flex;
		display: flex;

		-webkit-justify-content: space-evenly;
		-ms-justify-content: space-evenly;
		justify-content: space-evenly;

		padding: 1rem;
		padding-bottom: 0;
	}

	.product-thumbnails a {
		flex: 1 1 25%;
		margin: 0;
		padding: 0;
	}

	.product-left img {
		width: 100%;
	}

	.review-bottom {
		overflow: visible;
	}

	/* Shop all page */

	.product1 .container-item,
	.product2 .container-item {
		-webkit-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	/* Contact Page */

	.three-fourths {
		-webkit-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;

		width: 100%;
		height: auto;
		padding-bottom: 0;
	}

	.three-fourths iframe {
		width: 100%;
		height: 25rem;
	}

	.contact3 .text {
		width: 100%;
		padding-top: 0;
		padding-bottom: 2rem;
	}

	/* Footer */

	footer .container-item {
		width: 100%;
		padding-top: 0;
	}
}




