/*
* References: 
* 1. Tutorial videos from Paul Brokenshire for IAT339
* 2. "A Guide to Flexbox": http://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

*, *::before, *::after {
	box-sizing: border-box;
}

/* Parent */

.container,
.top-nav ul {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
}

div.order-summary div.container {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.top-nav ul {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 0;
}


/* Child */

.container-item {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 0;
}

.container-item-3 {
	-webkit-flex: 3 1 auto;
	-ms-flex: 3 1 auto;
	flex: 3 1 auto;
}

.container-item-full {
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.container-item,
.container-item-3,
.container-item-full {
	padding: 1rem;
}

.top-nav,
.h1-mobile {
	-webkit-flex: 9 1 auto;
	-ms-flex: 9 1 auto;
	flex: 9 1 auto;
}

/* Index.html */
.index1, .index2, .index4{
	min-height: 960px;
	text-align: center;
	align-items: center;
}

.index3{
	min-height: 300px;
	align-items: center;
	background-color: rgb(243, 205, 35);
}

.index5{
	min-height: 600px;
	align-items: center;
	text-align: center;
}

<<<<<<< Updated upstream
.index1 .container-item , .index2 .container-item , .index4 .container-item{
	align-items: center;
}

.index5 .container-item{
	padding:4em;
}

/* About.html */

.about1{
	min-height: 960px;
	text-align: center;
	align-items: center;
=======

/* Products.html */
.product1,.product2,.product3,.product4{
  min-height: 960px;
  text-align: center;
  align-items: center;
}






