body {
	font-family: "Raleway", Verdana, sans-serif;
	margin: 1rem;
	color: #081428;
	font-size: 1rem;
}

/* Top Navigation */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 0;
}

nav img{
  width:3rem;
}

nav ul {
	list-style-type: none;
	text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.top-nav ul li a{
  position:relative;
  z-index: 1;
}
 
nav.top-nav ul li a:hover{
  color: #91640F;
}

nav.top-nav ul li a:after{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #ffe2bc;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.top-nav ul li :hover:after{
  opacity: 1;
  visibility: visible;
  height: 2rem;
  width:2rem;
}

.nav-icon, .h1-mobile {
	display: none;
}

header.container,
footer.container {
  background-color: #EFEFEF;
  padding-top: 2%;
  padding-bottom: 2%;
  /*border-bottom: 1px solid rgb(0,0,0);
  margin-bottom: 5%;*/
}

footer.container {
  padding: 2%;
}

img {
  width: 100%;
}

hr {
  height: 1px;
  background-color: rgb(0,0,0);
  border: none;
}

/* Headings */

h1, h2, h3, h4, p, li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.6;
}

h2, h4 {
	text-transform: uppercase;
}

h1, h2, h3 {
	font-weight: lighter;
}

h1 { 
	font-size: 3.375rem;
}

h2 {
	font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}

h4 {
	font-size: 1.25rem;
	font-style: italic;
}

em {
	font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
}

a {
  text-decoration: none;
  color:black;
}


/* Call-to-action Buttons */

.button-1{
  border: none;
  background: black;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 50%;
  text-align: center;
}
.button-1:hover {
  color: black;
  font-weight: 700;
  background: none;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

/* Within Form */

label {
  display: block;
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(0,0,0);
  width: 100%;
}

/* Submit Buttons */
button{
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 0.75rem;
  width: 50%;
  border: 1px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover{
  color: #ffffff;
  background:  black;
  border-color: black;
  transition: all 0.4s ease 0s;
}


.right-align {
  text-align: right;
}

/* Checkout page */

div.billing-details,
div.summary-and-payment {
  margin-top: 5%;
}

div.billing-details,
div.order-summary-details,
div.payment {
  margin-bottom: 5%;
}

a.place-an-order {
  width: 100%;
}

div.billing-details {
  padding-right: 10%;
}

div.order-summary-details {
  background-color: #EFEFEF;
  padding: 1.25rem 1rem;
}

div.order-summary-details p.container-item {
  padding-top: 0;
}

div.order-summary-details p.total {
  padding-bottom: 0;
}

div.input-with-arrow {
  position: relative;
}

div.input-with-arrow img {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 1rem;

  transition: transform 0.2s ease;
}

div.input-with-arrow img:active,
div.input-with-arrow img:hover,
div.input-with-arrow img:focus {
  transform: rotate(-180deg);
}

/* Tooltip */

img.security-code {
    width: 1.25rem;
    position: relative;
    top: 0.15rem;
    left: 0.25rem;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  max-width: 20rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;

  position: absolute;
  top: -0.5rem;
  left: 11rem;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Contact page */

.contact-form {
  margin-top: 2rem;
  position: relative;
}

.contact-form button {
  position: absolute;
  right: 0;
}

.contact1, .location, .contact3 {
  margin-bottom: 8%;
}

.contact1 {
  margin-top: 5%;
}

.contact2 {
  border: 0;
}

.location .three-fourths img {
  max-height: 37.5rem; /* 600px */
}

@media (max-width: 480px) {
    .contact {
    margin-bottom: 2.5rem;
  }
}

.location .button-1,
.contact3 .button-1 {
  margin-top: 5%;
}

/* Shop all page */

.shop_all_container {
  margin-top: 5%;
}

.shop_all_container h2 {
  padding-left: 1rem;
}

/* Product details */

.add-to-wishlist img,
.add-to-bag img {
  width: 1.25rem;
  position: relative;
  top: 0.15rem;
  right: 0.5rem;
}

.hover-img {
  display: none;
}

.add-to-wishlist:hover .normal-img {
  display: none;
}

.add-to-wishlist:hover .hover-img {
  display: inline;
}

div.select-size {
    padding-top: 8%;
    padding-bottom: 4%;
}

.size-and-price:hover {
    border-bottom: 1px dotted black;
}

.size-and-price .container-item {
    padding-bottom: 0.25rem;
}

/*.product-page-title {
  margin-top: 5%;
  padding-left: 1rem;
}*/

.product-left {
  height: 38rem;
  overflow:scroll;
}

/* detail.html_review item */

.prodcut-review {
    padding-bottom: 8%;
}

.rating-item {
    border-bottom: 1px solid black;
}

.left-align {
    text-align: left;
}

.review-overall-1 {
    padding: 5% 10% 0 10%;
}

.review-bottom {
  /*border: 1px solid black;*/
  height: 30rem;
  overflow: scroll;
  padding: 0 5%;
  margin-right: 20em;
}

.review-overall-2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2rem;
}

/* Home page */

.index1 img,.index4 img, .about1 img {
	width:100%;
	height:100%;
}

.index2 .button-1 {
  margin-top: 5%;
}

@media (max-width: 980px) {
  .button-1 {
    width: 100%;
  }
}


/*************************** For Mobile Screen ***************************/

@media (max-width: 480px) {
	.top-nav {
		display: none;
	}

	.nav-icon {
		display: block;
		padding-top: 1rem;
		width: 3.5rem;
	}

	.h1-mobile {
		display: block;
		max-width: 80%;
	}
}









