body {
	font-family: "Raleway", Verdana, sans-serif;
	margin: 1rem;
	color: #081428;
	font-size: 1rem;
}

/* Top Navigation */
nav ul {
	list-style-type: none;
	text-transform: uppercase;
}

nav.top-nav a:active, 
nav.top-nav a:hover, 
nav.top-nav a:focus {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #081428;
}

.nav-icon, .h1-mobile {
	display: none;
}

header.container {
  border-bottom: 1px solid rgb(0,0,0);
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

/* Headings */

h1, h2, h3, h4, p, li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.6;
}

h2, h4 {
	text-transform: uppercase;
}

h1, h2, h3 {
	font-weight: lighter;
}

h1 { 
	font-size: 3.375rem;
}

h2 {
	font-size: 2rem;
  padding-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

h4 {
	font-size: 1.25rem;
	font-style: italic;
}

em {
	font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}


/* Call-to-action Buttons */

.button-1, .button-2 {
	font-size: 1.25rem;
	text-align: center;
	margin-top: 1rem;
	padding: 1.25rem;
	max-width: 100%;
	display: block;
}

.button-1 {
	font-weight: bold;
	background-color: white;
	color: black;
	border: 2px solid #000000;
	transition: all 0.5s;
}

.button-1 span {
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: all 0.5s;
}

.button-1 span:after {
	color: black;
	content: '>>';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: all 0.5s;
}


.button-1:hover span {
	padding-right: 1.75rem;
}

.button-1:hover span:after {
	opacity: 1;
	right: 0;
}

.button-2 {
	background-color: #ccc;
	color: #39404c;
	border: 1px solid #ccc;
}

.button-2:active, .button-2:hover, .button-2:focus {
	background-color: white;
	border-color: #39404c;
	transition: background-color 0.5s ease-out;
}

.two-button{
  display: flex;
  flex-wrap: wrap;

}

/* Within Form */

label {
  display: block;
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(0,0,0);
  width: 100%;
}

button {
  background-color: white;
  border: 1px solid #081428;
  padding: 0.75rem;
  width: 50%;
}

button:active, button:hover, button:focus {
  font-weight: bold;
  border-width: 2px;
}

.right-align {
  text-align: right;
}

/* Checkout page */

div.billing-details,
div.order-summary-details,
div.payment {
  margin-bottom: 2.5rem;
}

div.billing-details {
  padding-right: 10%;
}

div.order-summary-details {
  background-color: #EFEFEF;
  padding: 1.25rem 1rem;
}

div.order-summary-details p.container-item {
  padding-top: 0;
}

div.order-summary-details p.total {
  padding-bottom: 0;
}

div.input-with-arrow {
  position: relative;
}

div.input-with-arrow img {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 1rem;

  transition: transform 0.2s ease;
}

div.input-with-arrow img:active,
div.input-with-arrow img:hover,
div.input-with-arrow img:focus {
  transform: rotate(-180deg);
}

/* Contact page */

.contact-form {
  margin-top: 2rem;
  position: relative;
}

.contact-form button {
  position: absolute;
  right: 0;
}

div.contact,
div.location {
  margin-bottom: 2.5rem;
}

/* Shop all page */
.shop_all_container h2 {
  padding-left: 1rem;
}

/* Product details */

.product-container{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  border:1px solid black;
}

.product-left{
  width: 50%;
  border:1px solid black;
  height:550px;
  overflow: scroll;
}

.product-left img{
  width: 100%;
  padding: 5em;
}

.product-right{
  width:50%;
  border:1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-item{
  display:flex;
  flex-wrap: wrap;
  margin:2em;
  width:100%;
}

.size-select{
  display: none;
}

select{
  width: 100%;
  font-size: 16px;
}

@media only screen and (max-width: 1000px){
	.product-left{
		width: 100%;
	}
	.product-right{
		width: 100%;
	}
	.product-right-bottom{
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 600px){

  .product-item{
    margin:0em;
  }
  .product-left{
    display:flex;
    height:auto;
  }
  .product-left img{
    transform:scale(1.3);
  } 
  .product-right button{
    display: none;
  }
  .size-select{
    display: block;
  }
}

.product-right h3{
  font-family: 'Raleway-Light', sans-serif;
  font-size:18px;
  font-weight: normal;
  color:black; 
  margin-bottom: 5em;
}

.product-right a{
  font-family: 'Raleway-Light', sans-serif;
  font-size:12px;
  font-weight: normal;
  border:1px solid black;
  padding: 1em 4em;
  text-decoration: none;
  color: black;
  transition: all 0.6s;
}

.product-right a:hover{
  background-color: black;
  color: white;
}

/*detail.html_review item*/
.prodcut-review{
  margin:2em;

}
.review-bottom1 h3{
  font-family: 'Raleway-Light', sans-serif;
  font-size:18px;
  font-weight: normal;
}
.review-bottom1 p{
	font-family: 'Raleway-Light', sans-serif;
  font-size:14px;
  font-weight: normal;
}
.review-bottom{
  border:1px solid black;
  width:100%;
  height: 400px;
  overflow: scroll;
  margin: auto;
  margin-top:2em;
  margin-bottom: 10em;
  text-align: left;
}

.review-overall-1{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #cccccc;
}

.review-overall-1 p{
  font-family: 'Raleway-Light', sans-serif;
  font-size:12px;
}

.review-overall-2{
  border-bottom: 1px solid #cccccc;
}

.review-overall-2-left{
  width: 30%;
}

.review-overall-2-right{
  width: 70%;
}

.review-overall-2{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}


/*index.html*/
.index1 img,.index4 img, .about1 img{
	width:100%;
	height:100%;
}

/*about.html*/
.about1 p{
	padding: 1rem 10rem;
}


/*************************** For Mobile Screen ***************************/

@media (max-width: 480px) {
	.top-nav {
		display: none;
	}

	.nav-icon {
		display: block;
		padding-top: 1rem;
		width: 3.5rem;
	}

	.h1-mobile {
		display: block;
		max-width: 80%;
	}
}









