body {
	font-family: "Raleway", Verdana, sans-serif;
	margin: 1rem;
	color: #081428;
	font-size: 1rem;
}

/* Top Navigation */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 0;
}

nav img{
  width:3rem;
}

nav ul {
	list-style-type: none;
	text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.top-nav ul li a{
  position:relative;
  z-index: 1;
}
 
nav.top-nav ul li a:hover{
  color: #91640F;
}

nav.top-nav ul li a:after{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: transparent;
  background: #ffe2bc;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

nav.top-nav ul li :hover:after{
  opacity: 1;
  visibility: visible;
  height: 2rem;
  width:2rem;
}

.nav-icon, .h1-mobile {
	display: none;
}

header.container,
footer {
  background-color: #EFEFEF;
  padding-top: 2%;
  padding-bottom: 2%;
  /*border-bottom: 1px solid rgb(0,0,0);
  margin-bottom: 5%;*/
}

footer {
  padding: 2%;
}

footer .resources p {
  text-align: center;
  display: inline-block;
}

img {
  width: 100%;
}

hr {
  height: 1px;
  background-color: rgb(0,0,0);
  border: none;
}

/* Headings */

h1, h2, h3, h4, p, li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.6;
}

h2, h4 {
	text-transform: uppercase;
}

h1, h2, h3 {
	font-weight: lighter;
}

h1 { 
	font-size: 3.375rem;
}

h2 {
	font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}

h4 {
	font-size: 1.25rem;
	font-style: italic;
}

em {
	font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
}

a {
  text-decoration: none;
  color:black;
}


/* Call-to-action Buttons */

.button-1,.button-2 {
  background-color: black;
  color: #ffffff;
  font-weight: 100;
  padding: 1.25em;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 50%;
  text-align: center;
  margin: 2% 0;
}
.button-2 {
  color: black;
  background-color: white;
  border: 1.25px solid black;
}
.button-1:hover {
  color: black;
  background: none;
  font-weight: 700;
  letter-spacing: 0.25rem;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.button-2:hover {
  background: none;
  border: none;
  font-weight: 700;
  letter-spacing: 0.25rem;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


/* Within Form */

label {
  display: block;
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(0,0,0);
  width: 100%;
}

/* Submit Buttons */
button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem;
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: 5% 0;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: black;
  background-color: white;
  transition: all 0.4s ease 0s;
}

.right-align {
  text-align: right;
}

/* Checkout page */

div.billing-details,
div.order-summary-details,
div.payment {
  margin-bottom: 5%;
}

a.place-an-order {
  width: 100%;
}

div.billing-details {
  padding-right: 10%;
}

div.order-summary-details {
  background-color: #EFEFEF;
  padding: 1.25rem 1rem;
}

div.order-summary-details p.container-item {
  padding-top: 0;
}

div.order-summary-details p.total {
  padding-bottom: 0;
}

div.input-with-arrow {
  position: relative;
}

div.input-with-arrow img {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 1rem;

  transition: transform 0.2s ease;
}

div.input-with-arrow img:active,
div.input-with-arrow img:hover,
div.input-with-arrow img:focus {
  transform: rotate(-180deg);
}

/* Tooltip */

img.security-code {
    width: 1.25rem;
    position: relative;
    top: 0.15rem;
    left: 0.25rem;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  max-width: 20rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;

  position: absolute;
  top: -0.5rem;
  left: 11rem;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Contact page */

.contact-form {
  margin-top: 2rem;
}

.contact1, .location, .contact3 {
  margin-bottom: 8%;
}

.location iframe {
  border: 0;
  width: 100%;
}

.location .three-fourths img {
  max-height: 37.5rem; /* 600px */
}

.location .button-1,
.contact3 .button-1 {
  margin-top: 5%;
}

/* Shop all page */

.shop_all_container h2 {
  padding-left: 1rem;
}

/* Product details */

.perfume-details {
  margin-bottom: 5%;
}

div.select-size {
    padding-top: 8%;
    padding-bottom: 4%;
}

.size-and-price:hover {
    border-bottom: 1px dotted black;
}

.size-and-price .container-item {
    padding-bottom: 0.25rem;
}

/* detail.html_review item */

.prodcut-review {
    padding-bottom: 8%;
}

.rating-item {
    border-bottom: 1px solid black;
}

.left-align {
    text-align: left;
}

.review-overall-1 {
    padding: 5% 10% 0 10%;
}

.review-bottom {
  height: 30rem;
  overflow: scroll;
  padding: 0 5%;
}

.review-overall-2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2rem;
}

/* Home page */

.index1 img,.index4 img, .about1 img {
	width:100%;
	height:100%;
}

.index2 .button-1 {
  margin-top: 5%;
}

@media (max-width: 980px) {

  .button-1, .button-2, button {
    width: 100%;
  }

}

/* Thank you page */

.thank-you {
  background-color: #ffe2bc;
  padding: 5%;
  margin: 5% 10% 8% 10%;
  text-align: center;
}

.thank-you h2 {
  padding-bottom: 1.5em;
  border-bottom: 1px solid black;
}

.thank-you .text-content {
  margin: 2% 0;
}

/*.product-single{
  flex-basis:23%;
  line-height:180%;
}

.product-single img{
  width:70%;
}

@media (max-width: 980px){
  .product-single img{
    width:100%;
    }   
}*/

/*.product-single-image{
  overflow:visible;
  border:1px solid red;
}*/

/*.product-single-thumbnail a:nth-child(1) {
   background-image: url(".../img/perfume2.jpg");
   display: block;
   border: 1px solid red;
   width: 50px;
   height: 50px;

}

.product-single-thumbnail a:nth-child(2) {
   background-image: url(.../img/perfume8.jpg);
   display:block;
   border: 1px solid red;
   width:50px;
   height:50px;
}

.product-single-thumbnail a:nth-child(3) {
   background-image: url(.../img/perfume10.jpg);
   display:block;
   border: 1px solid red;
   width:50px;
   height:50px; 
}*/

/*************************** burger icon ***************************/


/*************************** For Mobile Screen ***************************/

@media (max-width: 680px) {

  .burger div{
    width:25px;
    height:5px;
    background-color:black;
    margin:5px;
  }
  .burger{
    position: relative;
    height:50px;
    z-index: 2;
  }
  .top-nav .nav-links{
    position: fixed;
    right:0px;
    top:-20px;
    background: #e4e4e4;
    height:110vh;
    width:100%;
    flex-direction: column;
    clip-path: circle(0px at 10% -5%);
    -webkit-clip-path: circle(0px at 10% -5%);
    transition:all 1s ease-out;
    z-index: 1;
  }
  .nav-links.open{
    clip-path: circle(1200px at 10% -5%);
    -webkit-clip-path: circle(1200px at 10% -5%);
  }

	.nav-icon {
		display: inline-block;
		padding-top: 1.25rem;
    padding-right: 1rem;
    width: 3.5rem;
	}

	.h1-mobile {
		display: inline-block;
		max-width: 80%;
	}
}









